body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 30px 0;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

header a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.confirm-order {
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav{
    float: right;
    position: absolute;
    top: 30px;
    right: 10px;
}

// search setion

#search-section{
    margin-top: 10px;
    padding: 10px;
}
#search-section input{
 padding: 12px 12px;
 margin: 30px;
 border: 1px solid #cccccc;
 border-radius: 20px;

}

#search-section button{
    background-color:#cccccc;
    padding: 10px;
 
}

#search-section spam:hover{
    background-color: red;

    padding: 14px 20px;
    margin: 0px 20ox;
    color: azure;
    border-radius: 8px;
    cursor: pointer;

}

#all-food{
   padding: 10px; 
   display: flex;
   flex-wrap: wrap;
   

}

.a-food{
  
    background-color: ;
}


.a-food img{
    border-radius: 10px 10px 0px 0px;
    height: 25em;
    width: auto;
    display: block;

}

.a-food div{
    border-radius: 0px 0px 10px 10px;
    background-color: chocolate;

    color: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.a-food span{
     margin-left: 10px;
     font-size: large;
     font-weight: bold;

}